body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(133, 255, 194);
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
}

h3 {
  padding: 0;
  margin: 5px;
  color: green;
  font-size: 4rem;
  font-family: "Press Start 2P", cursive;
  margin: 20px;
}

#start-button,
#restart-button {
  font-size: 2rem;
  background-color: black;
  color: #fff;
  padding: 20px 30px;
  border: 0;
  box-shadow: 0;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.3s;
}
#start-button:hover,
#restart-button:hover {
  background-color: rgb(14, 152, 60);
  box-shadow: 0 0 20px grey;
}

#game-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#game-over,
#start-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.falling {
  width: 500px;
  transform: rotate(90deg);
}
